<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tela-de-Cadastro-do-Funcionário</title>
    <link rel="shortcut icon" href="../assets/img/futebol (1).png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="text-center">
        <a class="principal" href="../../index.html">
            <nav class="cabecario">
                <img src="../assets/img/futebol (1).png" alt="" width="35px"><h2>SAQ</h2>
            </nav>
        </a>
    </div>

    <section class= "corpo">
        <div class="opt_atualizar">
            <h1>Cadastre-se ou <a class="logar" href="TelaLoginFuncionario.php"> Faça o Login </a></h1>
	        <form method="POST" action="../../Model/Cadastro.php">
                <div class="opt_alinhar">
                    <div>
                        <input class="caixa_atualizar" type="text" id="inputNome" name="Nome_Funcionario" placeholder="Nome Completo" maxlength="30" required autofocus>
                    </div>
                    
                    <div>
                        <input class="caixa_atualizar" type="email" id="inputEmail" name="Email_Funcionario"placeholder="Email" maxlength="30" required autofocus>
                    </div>
                </div>

                <div class="opt_alinhar">
                    <div>
                    <input class="caixa_atualizar" type="tel" id="inputTelefone" name="Telefone_Funcionario" placeholder="Telefone" maxlength="11" pattern="\d{11}" required> 
                    </div>
        
                    <div>
                    <abbr title="Inserir Horario de Inicio do Exepediente"><input class="caixa_atualizar" type="time" id="inputInicioExpediente" name="Inicio_Expediente" required autofocus></abbr>
                    </div>

                    <div>
                    <abbr title="Inserir Horario de Fim de Expediente"><input class="caixa_atualizar" type="time" id="inputFimExpediente" name="Fim_Expediente" required autofocus> </abbr>
                    </div>
                </div>

                <div class="opt_alinhar">
                    <div>
                    <input class="caixa_atualizar" type="password" id="inputPassword" name="Senha_Funcionario" placeholder="Crie uma Senha" minlength="9" required> 
                    </div>

                    <div>
                    <input class="caixa_atualizar" type="password" id="inputPassword" name="confsenha" 
                    placeholder="Confirmar senha" minlength="9" required> 
                    </div>
                </div>

                    <button class="entrar" name="cadastrar_funcionario" type="submit">Cadastrar</button>               
            </form>
        </div>

    </section>
    <footer class="rodape">
        APP Desenvolvido por
        <a class="link" href="https://github.com/WALTER-OBS-DEBUG" target="_blank">Walter Jonas,</a>
        <a class="link" href="https://github.com/AntonyGuzma" target="_blank">Antony Gusmão,</a>
        <a class="link" href="https://github.com/mikaelhayden" target="_blank">e Mikael Hayden &copy;</a>
        <i class="bi bi-diamond-half"></i>
        <i class="bi bi-diamond-half"></i>
    </footer>  
</body>
</html>