@charset "utf-8";

/*Remover a Margem para todos*/
*{
    margin: 0;

}

/*Cabecario do site padrao*/
div.text-center{
    border: 10px;
    background-color: #19a139e1;
}

/*Rodape do site padrao*/

footer.rodape{
    display: block;
    background-color:rgb(24, 25, 21);
    font-size: 18px;
    height: 110px;
    margin-top: 12px;
    position: fixed;
    border-top: 8px solid #3EF079;      
    bottom: 0;
    width: 100% ;

}

.internorodape{
    text-align: center;
}

p{
    font-size: 13pt;
    font-family: 'Courie', monospace;
    color: white;
    margin-bottom: 7px;
}
a{
    font-size: 13pt;
    font-family: 'Courie', monospace;        /*estilizei o link*/
    color: #3EF079;
    margin-bottom: 7px;
}