@charset "utf-8";

/*Remover a Margem para todos*/
*{
    margin: 0;

}

/*Cabecario do site padrao*/
div.text-center{
    border: 10px;
    background-color: #19a139e1;
}

/*Rodape do site padrao*/

footer.rodape{
    display: block;
    background-color: black;
    font-size: 18px;
    height: 110px;
    width: auto;
    margin-top: 150px;
    border-top: 8px solid #3EF079;

}

.internorodape{
    text-align: center;
}

p{
    font-family: 'Courie', monospace;
    color: white;
}