/*integrei o arquivo nav_foot ao arquivo estilo
assim todo css em apenas um arquivo, talvez mais pra frente faça outros arquivos
css tbm coloquei html e body com height e sidth 100% e fiz algumas mosificações no RODAPÉ
agora ele fica apenas embaixo sem atrapalhar a página - hayden

<!-->no index Modifiquei o footer, tirei a classe rodape interno, e o P que
    estava atrapalhando o rodape por n sei que caralhos, e também coloquei um link no cabeçalho pra voltar pro index em todas as 
    paginas<!-->
*/
@charset "utf-8";

body{
    height: 100vh;
    width: 100%;
	margin: 0;
	padding: 0;
    min-width: 420px;
}


div.text-center{
    height: 15%;
    margin: auto;
    margin-left: 1%;
    background-color:  #ffffff;
}

.cabecario{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

/*Animação das Bolas*/
@keyframes bolas{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform: rotate(360deg);
    }
}

nav > div > img:hover{
    animation: bolas 2s linear infinite ;
}
/*Animação das Bolas*/

.informacao{
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;    
    font-weight: 700;
    font-size: 20px;
    color: rgb(24, 25, 21);
}
.text-center > p{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(24, 25, 21);
}

h1{
    font-size: 15pt;
    font-family: 'Courie', monospace;
    color: #3EF079;
    }

h2
{
    font-family: serif;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 0%;
    margin-left: 3px;
}

h5
{
   font-size: 12pt;
   font-family: 'Courie', monospace;
   color: #3EF079;
}

h3{
    font-size: 17pt;
    font-family: 'Courie', monospace;
    color: black;
    }


/*Opções de cadastro*/

.corpo{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ffffff, rgb(24, 25, 21));
}

.corpo2{
    background-color: darkgray;
    background-image: linear-gradient(#ffffff, rgb(24, 25, 21));
}

div.meio   
{
    text-align: center;
    background: rgba(0, 0, 0, 0.685);
    width: 70%;
    margin-bottom: 5%;
    max-width: 480px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border: 4px solid #3EF079;
}


.option{
    background-color: rgba(20, 20, 20, 0.773);
    width: auto;
    min-width: 30%;
    border: 2px solid #3EF079;
    padding: 5px;
    margin: 8px 0px;
}

.option:hover, .option a{
    color: #3EF079;
    transform: translateX(5px) translate(5px);
    box-shadow: #3EF079 7px 9px 0px;
    transition: 0.5s;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Opcoes de Login da tela index*/

/*Login Tela Dono*/
.login{
    text-align: center;
    width: 70%;
    max-width: 365px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
    box-shadow: 0 15px 15px #0f0f0fa3;
    border-radius: 10px;
    margin-bottom: 5%;
}
.login h1 {
    margin: 0 0 30px;
    padding: 0;
    font-weight: bold;
    color: #3EF079;
    text-align: center;
  }


.login .caixa__login-input {
    position: relative;
  }
  
  .caixa__login-input{
    width: 80%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .caixa_atualizar{
    width: 80%;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffffffde;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
  }

  .caixa__login-input::placeholder{
    color: #ffffffa8;
  }

  .removerconta{
    background-color: transparent;
    position: relative;
    border: none;
    color: red;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    padding: 5px;
  }

  .removerconta::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.removerconta:hover::after{
    width: 100%;
}

  .entrar{
    background-color: transparent;
    position: relative;
    border: none;
    color: #3EF079;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    padding: 5px;
}

.entrar::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #3EF079;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.entrar:hover::after{
    width: 100%;
}

.cadastrese{
    margin-left: 10%;
}


/*Tela/Caixinha de Login*/

.form-login{
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 10px;
    color: #1069c8;
}

.form-loginrelatorio{
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 0px;
    border-radius: 10px;
    color: #1069c8;
}

/*as caixinhas de input */
.form-login > input{
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    margin-bottom: 20px;
}

.form-login > h3{
    font-size: 18px;
    color: #3EF079;
}

.form-loginrelatorio > input{
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    margin-top: 25px;
    margin-right: 0px;

}


.voltar{
    padding: 15px;
}

/*Botao de Cancelar Reserva da Tela do cliente*/
/*Animaçao com pseuelementos*/
#erro
{
    width: auto;
    margin: 10px auto;
    color: rgba(238, 18, 18, 0.859);
    font-weight: 500;
    font-size: 17px;
}

#erroreserva
{
    width: 360px;
    margin: 10px auto;
    margin-top: 70px;
    padding: 10px;
    background-color:rgba(211, 26, 26, 0.3);
    border: 2px solid rgba(139, 9, 9, 0.979);
    border-radius: 15px;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: 500;

}

#sucesso
{
    width: 300px;
    margin: 10px auto;
    margin-top: 60px;
    padding: 10px;
    background-color:rgba(23, 233, 187, .3);
    border: 2px solid rgba(10, 134, 107, 0.979);
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
/*Div que notifica o funcionario que nao ha reservas*/
#semreservas{
    position: absolute;
    width: 350px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -650%);
    background-color:rgba(211, 26, 26, 0.3);
    border: 2px solid rgba(139, 9, 9, 0.979);
    border-radius: 15px;
    color: black;
    
}

/*Mensagem de que nao possui relatorio para o cliente*/
#semrelatorios{
    text-align: center;
    font-size:45px;
    font-weight: 500;
    color: black;
}


/* Tabela do Dono pra definir horarios */
#titulo{
    font-size: 25px;
    color: #3EF079;
    background-color: #000000;
    border: 2px solid #ffffff;
    width: 750px;
    height: 70px;
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
}

.definir{
    text-align: center;
    padding: 10px;
}

.dias{
    display: flex;
    width: auto;
    min-width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.773);
    border-radius: 10px;
    margin: 10px auto;
} 

.dias h1{
    width: 100%;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #3EF079;
    color: #000000;
    font-weight: 800;
}

.dias input{
    width: 50%;
}

.tabeladias > h5{
    font-size: 12px;
}

.topo_pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Classes para os botoes de opções do usuario na sua tela  */
.opt_centralizar{
    display: flex;
    flex-wrap: wrap;
}

.opt_alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.opt_dividir{
    flex-direction: row;
}

.opt_atualizar h3{
    color: #3EF079;
    font-size: 18px;
}

.opt_atualizar{
    padding: 20px;
    min-width: 400px;
    background: rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
    box-shadow: 0 15px 15px #0f0f0fa3;
    border-radius: 10px;
    margin-bottom: 5%;
}

.opt{
   background-color: rgb(16, 16, 15);
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin: 2% auto;
   max-width: 1300px;
   width: 300px;
   height: 60px;
   border-radius: 10px;
   padding: 4px;
}

.opt2{
    width: 250px;
    margin: 10px;
}

.opt > img{
    width: 10%;
}

.opt > a{
    right: 0;
    width: 70%;
}

.bnt_images{
    width: 30px;
}

.opt>a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 1000;
    color: #3EF079;
    text-decoration: none;
}

/*texto dentro da opcao do dono de ver contato de cliente e func. tava saindo da div*/
.opt:hover{
    color: #3EF079;
    transform: translateX(5px) translate(5px);
    box-shadow: #3EF079 7px 9px 0px;
    transition: 0.5s;
}


/*Tabela de Consulta de Reservas*/
thead th{
    font-size: 15pt;
}

tr{
    border-bottom: 1px solid black;
}

th{
    margin: 10px;
}

td, th {
    background-color: transparent;
    color: #000000;
    text-align: center;
    padding: 5px;
    font-size: 15pt;
}

th{
    margin-right: 500px;
}

table {
    width: 50%;   
  }


tr:hover{
    background-color: #ffffff58;
}

            /*--------------------RODAPÉ-----------------------*/

/*Rodape do site padrao*/

.rodape
{
    flex-shrink: 0;	
    background-color: rgb(24, 25, 21);
	color: white;
	padding: 30px;
	text-align: center;
    height: 100px;
    font-size: 13pt;
    font-family: 'Courie', monospace;
    color: white;
}
a{
    font-size: 13pt;
    font-family: 'Courie', monospace;        /*estilizei o link*/
    color: #3EF079;
    text-decoration: none;
}

a:hover{
    color: #3EF079;
    text-decoration: none; 
}

.link:hover{
    color: rgba(79, 67, 67, 0.692);
    text-decoration: none;
}

.logar:hover{
    color: #ffffff;
    text-decoration: none; 
}